
.btn{
  height: 44px;
  font-size: 18px;
  font-family: "General Sans medium";
  padding: 7px 20px;
  background-color: $blue;
  color: #fff;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:hover{
      background-color: lighten($blue, 1.9);
      color: #fff;
  }

  @media (max-width: 991px){
    height: 40px;font-size: 16px;padding:5px 15px;
  }
}